/target/
/build/
/attic/
/.gradle/
!.mvn/wrapper/maven-wrapper.jar
.idea
*.iws
*.iml
*.ipr
/examples/logidoclet-usage/llm-context/
/examples/logidoclet-usage/src/
/examples/logidoclet-usage/target/
/examples/logidoclet-usage/build/
/examples/logidoclet-usage/.gradle/